# Cleaning the LA Streets

In [1]:
import pandas as pd
import numpy as np

import re

from IPython.display import clear_output

In [2]:
crime_la = pd.read_csv("data/Crime_Data_from_2010_to_Present.csv")

In [3]:
crime_la.shape

(1810088, 26)

In [4]:
crime_la.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [5]:
head_columns = ["Date Reported", "Date Occurred", "Area Name", "Crime Code Description", "Victim Age", "Victim Sex", "Premise Description",
               "Address", "Location "]

crime_la[head_columns].head()

,Date Reported,Date Occurred,Area Name,Crime Code Description,Victim Age,Victim Sex,Premise Description,Address,Location
0,03/14/2013,03/11/2013,77th Street,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",6300 BRYNHURST AV,"(33.9829, -118.3338)"
1,01/25/2010,01/22/2010,Olympic,VEHICLE - STOLEN,NaN,NaN,STREET,VAN NESS,"(34.0454, -118.3157)"
2,03/19/2013,03/18/2013,Southeast,VEHICLE - STOLEN,12.0,NaN,STREET,200 E 104TH ST,"(33.942, -118.2717)"
3,11/11/2010,11/10/2010,Southeast,VEHICLE - STOLEN,NaN,NaN,STREET,88TH,"(33.9572, -118.2717)"
4,01/11/2014,01/04/2014,Topanga,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84.0,M,SINGLE FAMILY DWELLING,7200 CIRRUS WY,"(34.2009, -118.6369)"

In [6]:
crime_la.isnull().sum()

DR Number                       0
Date Reported                   0
Date Occurred                   0
Time Occurred                   0
Area ID                         0
Area Name                       0
Reporting District              0
Crime Code                      0
Crime Code Description        376
MO Codes                   195376
Victim Age                 143908
Victim Sex                 166687
Victim Descent             166727
Premise Code                   84
Premise Description          3240
Weapon Used Code          1207315
Weapon Description        1207316
Status Code                     2
Status Description              0
Crime Code 1                    6
Crime Code 2              1694013
Crime Code 3              1807359
Crime Code 4              1810000
Address                         0
Cross Street              1508614
Location                        9
dtype: int64

In [7]:
#it is important that all locations do not have any NaN cells
crime_la = crime_la[crime_la["Location "].notnull()]

# Feature Engineering

In [8]:
#break down location by longitude and latitiude
crime_la["Location "] = crime_la["Location "].str.extract(r"\((.*)\)")
crime_la["latitude"] = crime_la["Location "].str.split(",", expand = True)[0]
crime_la["longitude"] = crime_la["Location "].str.split(",", expand = True)[1]

C:\Users\Pierce\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [9]:
#break down date according to day of week, month, and year
crime_la["Date Occurred"] = pd.to_datetime(crime_la["Date Occurred"])

crime_la["Date Occurred, dayofweek"] = crime_la["Date Occurred"].dt.dayofweek
crime_la["Date Occurred, month"] = crime_la["Date Occurred"].dt.month
crime_la["Date Occurred, year"] = crime_la["Date Occurred"].dt.year

crime_la["Date Reported"] = pd.to_datetime(crime_la["Date Reported"])

In [10]:
crime_la["Address Type"] = crime_la["Address"].str.extract(r"\s(\w{2,4})$")

crime_la["Address Type"] = crime_la["Address Type"].fillna("ST")

C:\Users\Pierce\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [11]:
crime_la.to_csv("crime in la.csv", index = False)